<div class="center hero-unit">
<h1>The actual Blog</h1>
</div>
<div class="row">
<div class="span4">
<h2>First Post</h2>
<p>What did you expect. There isn't anything here</p>
</div>
<div class="span4">
<h2>Random Latin</h2>
<p>The next post will be nothing but random latin</p>
</div>
<div class="span4">
<h2>Dat Latin</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse commodo blandit nisi, vel pharetra neque eleifend quis. Nam libero ante, dapibus id ornare in, mollis at est. Nulla mattis sapien vel nisi consequat faucibus. Pellentesque in fringilla erat. Maecenas porta varius erat sit amet tristique. Nulla egestas, lectus eu fermentum tempus, felis elit sodales mauris, id tempus erat elit at tortor. Praesent tristique mollis arcu et facilisis. Sed sed tortor vel dolor vulputate elementum. Integer laoreet ipsum ac tellus commodo, vel accumsan erat mollis. Morbi porta nisl metus, in vulputate lacus dictum ultrices. Quisque nibh nunc, rhoncus commodo lectus nec, laoreet placerat turpis. Sed eget pulvinar quam. Sed pharetra, dolor pretium hendrerit luctus, leo massa iaculis urna, non gravida augue risus id tortor. Proin semper dolor quis posuere fermentum. Nulla suscipit diam eu quam dignissim aliquam. Nullam vitae venenatis diam, eu posuere justo.</p>
</div>
