<div class="center hero-unit">
<h1>Frequently Asked Questions?</h1>
</div>
<div class="row">
<div{margin:10px 0px 10px 0px} class="span4 offset4">
<h3>Why did you make this blog?</h3>
<p>I had to as a programing assignment.</p>
<div class="row">
<div{margin:10px 0px 10px 0px} class="span4">
<h3>Why is there no second developer?</h3>
<p>I was unable to find a partner I could meet with.</p>
<div class="row">
<div{margin:10px 0px 10px 0px} class="span4">
<h3>Why more latin?</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse commodo blandit nisi, vel pharetra neque eleifend quis. Nam libero ante, dapibus id ornare in, mollis at est. Nulla mattis sapien vel nisi consequat faucibus. Pellentesque in fringilla erat. Maecenas porta varius erat sit amet tristique. Nulla egestas, lectus eu fermentum tempus, felis elit sodales mauris, id tempus erat elit at tortor. Praesent tristique mollis arcu et facilisis. Sed sed tortor vel dolor vulputate elementum. Integer laoreet ipsum ac tellus commodo, vel accumsan erat mollis. Morbi porta nisl metus, in vulputate lacus dictum ultrices. Quisque nibh nunc, rhoncus commodo lectus nec, laoreet placerat turpis. Sed eget pulvinar quam. Sed pharetra, dolor pretium hendrerit luctus, leo massa iaculis urna, non gravida augue risus id tortor. Proin semper dolor quis posuere fermentum. Nulla suscipit diam eu quam dignissim aliquam. Nullam vitae venenatis diam, eu posuere justo.<p>
</div>
</div>
</div>
</div>
</div>
</div>
