<footer class="footer">
  <small>
    Developed by Blair Fogeltanz
  </small>
  <nav>
    <ul>
      <li><%= link_to "Faq",   faq_path %></li>
      <li><%= link_to "Blog", blog_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
